@media screen and (min-width: 992px) {
    .my_header_h{
        height: 220px;
    }
    .my_footer_h{
        height: 280px ;
    }
}
@media screen and (max-width: 992px) {
    .my_header_h{
        height: 220px;
    }
    .my_footer_h{
        height:300px ;
    }
}
.main{
    width:100%;height: 778px;
    margin-top: 50px;
}
.my_main{
    width: 990px;height: 778px;
    background-color:#fff;
    margin: 0 auto;
    padding: 1px 0 60px;
}
.nl_title{
    height: 43px;
    line-height: 43px;
    font-size: 22px;
    color:#333;
    text-align: center;
    margin: 40px auto;
}
.nl_t_left{
    background: url(../../image/nl_title_left.png)center no-repeat;
    display: inline-block;
    width: 91px;height: 9px;
    margin-top: 17px;
    vertical-align:top;
    margin-right: 20px;
}
.nl_t_right{background: url(../../image/nl_title_right.png)center no-repeat;
    display:inline-block;
    vertical-align: top;
    width: 91px;height: 9px;
    margin-top: 17px;
    margin-left: 20px;
}
.nl_dsf_w1 a{display:inline-block;
    vertical-align: top;
    width: 108px;height:108px;
    margin: 0 25px;
    line-height: 44px;
    font-size: 25px;
}
a:hover{
    text-decoration: none;
}
.nl_dsf_w1>.a1{
    background: url(../../image/QQ-login.png)no-repeat;
}
.nl_dsf_w1>.a1:hover{
    background: url(../../image/QQ-login-hover.png)no-repeat;
}
.nl_dsf_w1>.a2{
    background: url(../../image/wb-login.png)no-repeat;
}
.nl_dsf_w1>.a2:hover{
    background: url(../../image/wb-login-hover.png)no-repeat;
}
.nl_dsf_w1>.a3{
    background: url(../../image/wx-login.png)no-repeat;
}
.nl_dsf_w1>.a3:hover{
    background: url(../../image/wx-login-hover.png)no-repeat;
}
.nl_or{
    height: 69px;
    background: url(../../image/nl_or.png)center no-repeat;
}
.nl_more_zc{
    width: 60%;
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #eee;
    margin: 0 auto;
    border-radius:4px ;
    padding-bottom: 20px;
}
.nl_tab{
    height: 32px;
    line-height: 32px;
    margin: 32px auto 0;
    text-align: center;
    color: #bbb;
}
.nl-tab a{
    font-size: 18px;
    color: #999;
}
.nl_tab .current{
    font-weight: bold;
    color:#333;

}
.nl-loginbox_www{
    width: 320px;
    overflow: hidden;
    margin: 0 auto 0;
}
.nl-loginbox_w{
    width: 320px;
    margin: 24px auto 0;
    overflow: hidden;
    text-align: left;
}
.nl_loginitem{
    width:320px;height: 44px;
    margin-bottom: 10px;
    font-size: 14px;
}
.nl_loginitem .text, .nl_loginitem .password{
    height: 35px;
    border: 1px solid #ddd;
    border-radius:4px ;
    line-height: 35px;
    font-size: 14px;
    color: #333;
    padding: 11px;
    width: 296px;
}
.nl_loginitem label input{
    margin-top: -2px;
}